In [ ]:
#impyla demo

from impala.dbapi import connect
conn = connect(host='quickstart.cloudera', port=21050)
cur = conn.cursor()

In [ ]:
cur.execute('SHOW TABLES')
cur.fetchall()

In [ ]:
cur.execute('DESCRIBE german_parquet')
cur.fetchall()

In [ ]:
cur.execute('SELECT cred, age, value FROM german_parquet LIMIT 20')
cur.fetchall()

In [ ]:
# However, we want the ability to read WITH metadata
from impala.util import as_pandas
cur.execute('SELECT cred, age, value FROM german_parquet LIMIT 20')
dat = as_pandas(cur)

In [ ]:
dat

In [ ]:
# Oh yeah, it also has proper type conversion (meaning, not read as string):
dat.dtypes

In [ ]:
# From here, we can use familiar pandas syntax for data transforms, ie, column select
dat[['cred','value']]

In [ ]:
# Be careful doing this on very large results... Here is an example of the power of pandas; the 'Patrick' query
cur.execute('SELECT * FROM german_parquet')
dat = as_pandas(cur)
dat.groupby(['cred']).agg(['nunique'])